DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=secret
DB_NAME=ecommerce_db
DATABASE_URL=postgresql://postgres:secret@postgres:5432/ecommerce_db?schema=public
NODE_ENV=development
APP_PORT=3000
BASE_URL=http://localhost:3000/api/v1
JWT_SECRET=jwt_strong_secret
REFRESH_TOKEN_SECRET=refresh_token_strong_secret
MAIL_HOST=sandbox.smtp.io
MAIL_PORT=8000
MAIL_USER=user
MAIL_PASSWORD=secret
STRIPE_SECRET_KEY=stripe_secret
STRIPE_WEBHOOK_SECRET=stripe_webhook_secret
STRIPE_SUCCESS_URL="https://www.example.com"
STRIPE_CANCEL_URL="https://www.example.com"
MAX_CART_QUANTITY=10
MAX_ACTIVE_SESSIONS=5

